{
    "plugins": ["simple-import-sort"],
    "extends": ["react-app"],
    "ignorePatterns": ["node_modules/", "build/", "*.css", "*.jpg"],
    "rules": {
        "simple-import-sort/imports": "warn",
        "simple-import-sort/exports": "warn",
        "max-lines-per-function": ["warn", 200],
        "max-lines": ["warn", 300]
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest"
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true,
        "es6": true
    }
}
